@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  background: #ebe7de;
}

.mainBackground {
  background: radial-gradient(circle, #dad7cb 20%, #ebe7de 50%);
}

.cardBackground {
  overflow: hidden;
  position: relative;
  background:
    radial-gradient(circle, #ebe7de 20%, #f3f2ea 80%);
}

.cardBackground::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background:
    url('/assets/images/palazzo-medici-top-left.png') top left / 80% auto no-repeat,
    url('/assets/images/palazzo-medici-top-right.png') top right / 80% auto no-repeat;
  opacity: 0.7;
  z-index: 1;
  overflow: hidden;
}


.cardBackground::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/palazzo-medici-bottom.png') bottom / 100% auto no-repeat;
  opacity: 0.7;
  z-index: 1;
  overflow: hidden;
}

.cardBackground > * {
  z-index: 2;
}

.imageBackground1::before {
  background: url('/assets/images/the-creation-of-adam-left.png') bottom left / 104% auto no-repeat,
  url('/assets/images/the-creation-of-adam-right.png') bottom right -70px / 102% auto no-repeat;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.imageBackground2::before {
  background: url('/assets/images/the-school-of-athens.png') bottom / 103% auto no-repeat;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}